In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('country_vaccination_stats.csv')

# Question 4-5

In [3]:
country_min = df.groupby('country')['daily_vaccinations'].min().reset_index()
df = df.merge(country_min, on='country', suffixes=('', '_min'))
df['daily_vaccinations'].fillna(df['daily_vaccinations_min'], inplace=True)
df['daily_vaccinations'].fillna(0, inplace=True)
df.drop('daily_vaccinations_min', axis=1, inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1502 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 58.7+ KB

In [5]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1502 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 58.7+ KB

# Question 6

In [7]:
country_medians =df.groupby('country')['daily_vaccinations'].median()
country_medians

country
Argentina                11645.0
Austria                   7850.0
Bahrain                   3662.0
Belgium                   3606.0
Brazil                   17220.0
Bulgaria                  1010.0
Canada                   11044.0
Chile                     1291.0
China                   276786.0
Costa Rica                 675.5
Croatia                   2485.0
Cyprus                     708.0
Czechia                   5378.0
Denmark                   7095.5
Ecuador                    108.0
England                 107310.5
Estonia                   1043.0
Finland                   2035.5
France                   41496.0
Germany                  51184.0
Gibraltar                  713.0
Greece                    5290.0
Hungary                   5464.5
Iceland                     63.0
India                   173922.0
Indonesia                13200.0
Ireland                   6528.0
Isle of Man                138.0
Israel                   92587.0
Italy                    44475.5
Kuwait                       0.0
Latvia                     592.0
Lithuania                 1933.5
Luxembourg                  88.0
Malta                      407.5
Mexico                    5488.0
Netherlands               6762.0
Northern Ireland          2135.0
Norway                    2958.0
Oman                      1192.0
Panama                    1324.0
Poland                   22702.5
Portugal                  5944.0
Romania                  13030.0
Russia                   23563.0
Saudi Arabia             16807.5
Scotland                  5821.0
Serbia                    2920.0
Seychelles                1000.0
Singapore                 4907.0
Slovakia                  5357.0
Slovenia                  2374.0
Spain                    55238.0
Sweden                    5382.5
Switzerland               3000.0
Turkey                  150356.0
United Arab Emirates     86430.0
United Kingdom          120409.0
United States           378253.0
Wales                     2198.0
Name: daily_vaccinations, dtype: float64

In [8]:
top_3_countries = country_medians.nlargest(3)

print(f"Top-3 countries with highest median daily vaccination numbers:\n{top_3_countries}")

Top-3 countries with highest median daily vaccination numbers:
country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

# Question 7

In [9]:
df=df[df['date']=='1/6/2021']

In [10]:
df['daily_vaccinations'].sum()

1485255.0